/*DEVELOPER: Stamatios Spirou, IS117-005, Fall 2024 */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
}

#logo-img {
    height: 40px; 
    width: auto; 
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.image {
    font-size: 20px;
    color: black;
    text-align: center;
}

.navbar {
    width: 100%; 
}

.title {
    font-size: 50px;
    color: black;
    text-align: left;
    text-decoration: underline;
}

#body-images {
    width: 100%; 
    height: auto; 
    display: block;
    margin: auto;
}

.text {
    font-size: 18px;
    color: black;
    text-align: left;
    border: 2px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.text-list {
    font-size: 35px;
    color: black;
    text-align: left;
}